* {
	box-sizing: border-box;
}

.mainGrid {
	border: 1px solid black;
	margin: 0 auto;
	width: 502px;
	height: 502px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.finalGrid {
	border: 1px solid black;
}

h1 {
	text-align: center;
	font-size: 26px;
	margin-top: 100px;
}

#buttons {
	text-align: center;
	margin-top: 25px;
}
